# === Python Bytecode ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Virtual Environments ===
venv/
.env/
.venv/
env/

# === System Files ===
.DS_Store
Thumbs.db




# === VS Code Settings ===
.vscode/

# === Logs ===
*.log
